body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  padding: 2rem;

}
#root div {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  border: 1px solid #ddd;
  border-radius: 5px;

  background-color: #92C1BA;
}

pre {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #e9e9e9;
  font-size: 1.1rem;
  font-family: consolas;
}

